# Compiled JavaScript files
lib/
*.js
*.js.map

# TypeScript cache
*.tsbuildinfo

# Node modules
node_modules/

# Environment variables
.env
.env.local

# Firebase cache
.firebase/

# Logs
npm-debug.log*
firebase-debug.log*
firebase-debug.*.log*

# OS files
.DS_Store
Thumbs.db
